* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: #303055;
  color: white;
  padding: 20px;
}

.header-title {
  font-size: 1.6rem;
  margin-right: auto;
}

.header-project {
  font-size: 1.2rem;
  font-weight: 500;
}

.main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 18px;
}

.form-input {
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form-button {
  font-family: Helvetica, Arial, sans-serif;
  grid-column: 1 / -1;
  border-radius: 5px;
  background: #303055;
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
