* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: black;
  color: white;
  padding: 20px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-project {
  font-size: 1rem;
  font-weight: 500;
}
